# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Environments
.env
.venv/
.python-version
env/
venv/


# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
